/**
 * 作者：yeshengqiang
 * 时间：2018-04-03
 * 描述：变量
 */

 // 全局
 $body_bg:                      #F7F7F7 !default;    // body背景
 $white:                        #FFFFFF !default;
 $blank:                        #000000 !default;
 $global_color:                 #01C2BD !default;    // 全局配色
 // header
 $header_bg:                    #1c1c1c !default; // 头部bg
