/**
 * 作者：yeshengqiang
 * 时间：2018-04-03
 * 描述：变量
 */

 // 全局
 $body_bg:                      #333333 !default;    // body背景
 $white:                        #FFFFFF !default;
 $blank:                        #000000 !default;

 // header
 $header_bg:                    #1c1c1c !default; // 头部bg
